/* Reset some default browser styles */
body, h1, h2, p, ul, li, form {
    margin: 0;
    padding: 0;
  }
  
  /* Set styles for the header */
  header {
    background-color: #333333;
    color: #06a11a;
    padding: 20px;
  }
  
  /* Style the navigation menu */
  nav {
    background-color: #555;
  }
  
  nav ul {
    list-style-type: none;
    padding: 10px;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #ad0f0f;
    text-decoration: none;
    padding: 10px;
  }
  
  /* Style the main content sections */
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
    color: #000;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  /* Style the footer */
  footer {
    background-color: #555;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  